* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {

    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
    position: relative;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-radius: 10%;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #555;
}

.reset-button {
    background-color: #af4c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #a04545;
}

.scoreBoard-container{
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.score-board{
    height: 300px;
    width: 400px;
    background-color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.711);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.scoreBoard-reset-button{
    width: 100px;
    align-self: center;
}

.score-board > h3{
    color: #fc5757;
    font-size: 30px;
    align-self: center;
}

.score-board > p{
    color: #1e1e1e;
    font-size: 25px;
    align-self: center;
}